.hero {
  /* background: #1de9b6; */
  background: linear-gradient(#1de9b6, #64ffda);
  min-height: 50vh;
  text-align: center;
  color: #FFF;
  border-radius: 0px 0px 15px 15px;
}

.hero img {
  padding-top: 5vh;
  height: 30vh;
}

.hero h1 {
  padding-bottom: 20px;
}

nav {
  background: #1de9b6
}
/* 
.card {
  width: 30vw;
} */




























/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
